* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color:  #1e1e1e;
  background-image:
    linear-gradient(#434242 1px, transparent 1px),
    linear-gradient(90deg, #383636 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main .tool-panel{
    display: flex;
    gap: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #232121;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    width: fit-content;

    background-color: #2e2d2dbb;
}

main .tool-panel .tool{
 color: rgb(211, 215, 218);

}

main .tool-panel .tool:active{
 background-color: antiquewhite;
}

main .other{
    display: flex;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

main .other .properties-panel{
    display: flex;
    flex-direction: column;
    width: 14%;
    padding: 1rem;
    border-radius: 0.7rem;
    border: 1px solid rgb(79, 78, 78);
    gap: 1rem;
    background-color: #383636dc;
    

}

main .other .properties-panel .prop{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .other .properties-panel .prop h4 {
    color: rgb(189, 192, 194);
    font-size: 1.1rem;
}

main .other .properties-panel .prop span {
    color: rgb(204, 205, 206);
    /* font-size: 1.1rem;s */
}

main .other .properties-panel .text-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;

}

main .other .properties-panel .text-content input{
    background-color: transparent;
    border: 1px solid #1e1e1e;
    border-radius: 1rem;
}

main .other .canvas{
    display: flex;
    flex-direction: column;
    width: 84%;
    height: 82vh;
    padding: 1rem;
    border-radius: 0.7rem;
    border: 1px solid rgb(79, 78, 78);
    gap: 1rem;
    background-color: #383636dc;

}

main .other .laywer-panel{
    width: 10%;
    height: 100px;
    border: 1px solid red;
}


.border{
    height: 40px;
    width: 40px;
    border: 1px solid red;
}