* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #1e1e1e;
  background-image:
    linear-gradient(#434242 1px, transparent 1px),
    linear-gradient(90deg, #383636 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main .tool-panel {
  display: flex;
  gap: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid #232121;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: fit-content;

  background-color: #2e2d2dbb;
}

main .tool-panel .tool {
  color: rgb(211, 215, 218);
  padding: 0.2rem;
}

main .tool-panel .tool:active {
  background-color: rgb(148, 148, 147);
}

main .other {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 1rem;
}

main .other .properties-panel {
  display: flex;
  flex-direction: column;
  width: 14%;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid rgb(79, 78, 78);
  gap: 3rem;
  background-color: #383636dc;
}

main .other .properties-panel .prop {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .other .properties-panel .prop h4 {
  color: rgb(189, 192, 194);
  font-size: 1.1rem;
}

main .other .properties-panel .prop input {
  color: rgb(204, 205, 206);
  /* font-size: 1.1rem;s */
  background-color: transparent;
    border-radius: 0.4rem;
  outline: none;
}

main .other .properties-panel .text-content {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  /* gap: 0.7rem; */
}

main .other .properties-panel .text-content input {
  background-color: transparent;
  /* border: 1px solid #1e1e1e; */

}

main .other .canvas {
  display: flex;
  flex-direction: column;
  width: 84%;
  height: 82vh;
  /* padding: 1rem; */
  border-radius: 0.7rem;
  border: 1px solid rgb(79, 78, 78);
  gap: 1rem;
  background-color: #383636dc;
}

main .other .laywer-panel {
  width: 10%;
  height: 400px;
  background-color: #383636dc;
  border-radius: 0.7rem;

  border: 1px solid rgb(79, 78, 78);
}

.canvas {
  position: relative; /* important! */
  width: 800px;
  height: 500px;
  border: 1px solid #ccc;
  /* transform: rotate(); */
  transition: all 0.5s;
}

.border {
  position: absolute;
  border: 2px solid rgb(131, 131, 135);
  background: rgba(0, 150, 255, 0.2); /* makes it visible */
}

.text {
  position: absolute;
  font-size: 18px;
  color: black;
  min-width: 50px;
  border: none; /* ensure no border */
  background: transparent; /* optional */
  text-decoration: none;
}

.text:focus {
  /* outline: rgb(135, 133, 133); removes browser focus highlight */
  outline-color: #545353;
  padding: 0.1rem;
}
