* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  background-color: #1e1e1e;
  background-image:
    linear-gradient(#434242 1px, transparent 1px),
    linear-gradient(90deg, #383636 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main .tool-panel-Export{
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7rem;
}

main .tool-panel-Export .tool-panel {
  display: flex;
  gap: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid #232121;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
  width:fit-content;

  background-color: #2e2d2dbb;
}

main .tool-panel-Export .exports{
  display: flex;
  gap: 1rem;
}

main .tool-panel-Export .exports button{
  background-color: #2e2d2dbb;
  border: 1px solid #232121;
  padding: 0.5rem 1rem;
  color: #bebaba;
  font-weight: bold;

}

main .tool-panel-Export .exports button:active{
  background-color: #454343bb;
 transform: scale(0.94);

}


main .tool-panel .tool {
  color: rgb(211, 215, 218);
  padding: 0.2rem;
}

main .tool-panel .tool:active {
  background-color: rgb(148, 148, 147);
}

main .other {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 1rem;
}

main .other .properties-panel {
  display: flex;
  flex-direction: column;
  width: 14%;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid rgb(79, 78, 78);
  gap: 3rem;
  background-color: #383636dc;
}

main .other .properties-panel .prop {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .other .properties-panel .prop h4 {
  color: rgb(189, 192, 194);
  font-size: 1.1rem;
}

main .other .properties-panel .prop input {
  color: rgb(204, 205, 206);
  /* font-size: 1.1rem;s */
  background-color: transparent;
    border-radius: 0.4rem;
  outline: none;
}

main .other .properties-panel  .set {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

main .other .properties-panel  .set i {
 padding: 0.2rem 0.3rem;
 border-radius: 50%;
 border: 1px solid  #ccc;
 color: #ccc;
 background-color: transparent;
}

main .other .properties-panel  .set i:active{
  transform: scale(0.95);
}

main .other .properties-panel .props{
  display: flex;
  width: 100%;
  padding: 0.4rem;
  gap: 0.3rem;
}

main .other .properties-panel .props #delete{
  padding: 0.4rem;
  background-color: red;
  color: #e4e2e2;
  border: none;
  border-radius: 0.7rem;
}

main .other .properties-panel .props .move{
  padding: 0.4rem;
  background-color:#43424275;
  color: #e4e2e2;
  border: none;
  border-radius: 0.7rem;
}

main .other .properties-panel .props .move:active{
 transform: scale(0.98);
}


main .other .properties-panel .props #delete:active{
  transform: scale(0.98);
}

main .other .properties-panel .bg input{
width: 100%;
background-color: #232121;}




main .other .properties-panel .text-content {
  display: flex;
  flex-direction: column;
 
}

main .other .properties-panel .text-content input {
  background-color: transparent;


}

main .other .canvas {
  display: flex;
  flex-direction: column;
  width: 84%;
  height: 100%;
  /* padding: 1rem; */
  border-radius: 0.7rem;
  border: 1px solid rgb(79, 78, 78);
  gap: 1rem;
  background-color: #383636dc;
}

main .other .layer-panel {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #383636dc;
  border-radius: 0.7rem;

  border: 1px solid rgb(79, 78, 78);
}

.canvas {
  position: relative; 
  width: 800px;
  height: 500px;
  border: 1px solid #ccc;
  transition: all 0.5s;
}

.border {
  position: absolute;
  border: 2px solid rgb(131, 131, 135);
  background-color: rgba(0, 150, 255, 0.2);
}

.text {
  position: absolute;
  font-size: 18px;
  color: rgb(185, 186, 186);
  min-width: 50px;
  border: 1px solid rgb(131, 131, 135);  
  background: transparent; 
  text-decoration: none;
}

.text:focus {
  outline-color: #545353;
  padding: 0.1rem;
}


.seletors{
position: absolute;
  padding: 0.3rem 0.2rem;
  border-radius: 50%;
  background-color: aquamarine;
}


.tl { top: -4px; left: -4px; cursor: nw-resize; }
.tr { top: -4px; right: -4px; cursor: ne-resize; }
.bl { bottom: -4px; left: -4px; cursor: sw-resize; }
.br { bottom: -4px; right: -4px; cursor: se-resize; }